.menu {
    font-weight: bold;
    background-color: #D5B0AC;
    color: #402E2A;
    text-align: center;
}

span {
    height: 30px;
    width: 100px;
    padding: 2px;
    display: inline-block;
}

span:hover {
    color: #FFFFFF;
    background-color: #9CD08F;
    cursor: pointer;
}

.menu_vertical {
    font-weight: bold;
    background-color: #D5B0AC;
    color: #402E2A;
    width: fit-content;
    text-align: center;
}

.menu_vertical span {
    height: 30px;
    width: 100px;
    display: grid;
    border-bottom: 2px solid white;
}

.menu_vertical nav {
    text-align: center;
}

.menu_vertical span:hover {
    color: #FFFFFF;
    background-color: #9CD08F;
    cursor: pointer;
}